body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: rgba(191, 250, 143, 0.788);
    margin: 30px;
    padding: 5px;
}
header {
    font-size: 20px;
    margin-bottom: -2px;
}
header p{
    font-size: 15px;
    margin-top: -10px;
}
.cover{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
nav li{
    padding: 5px;
    min-width: 150px;
}
nav li:nth-child(4){
     color: #fff;
} 
nav li:hover{
    color: #fff;
    cursor: pointer;
}
main a{
    color: #fff;
}
main a:hover{
    color: rgba(191, 250, 143, 0.788);
}
aside{
    color: #fff;
    min-width: 250px;
    border: 2px solid #fff;
    border-radius: 2px;
    padding: 10px;
    font-size: small;
    margin: 10px;
    width: 300px;
}
footer{
    color: #fff;
    border: 2px solid #fff;
    margin: 10px;
    font-size: smaller;
    padding: 10px;
}
@media (min-width: 800px){
    .cover{
      display: grid;
      grid-template-columns: 200px 1fr 300px; 
      grid-template-areas: 
          "nav . aside"
          "main main main";
    }
    nav{
        grid-area: nav;
    }
    aside{
        grid-area: aside;
        width: 300px;
        justify-self: end;
    }
    main{
        grid-area: main;
    }
} 